<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Car Cleaning Epe</title>
  <meta name="description" content="Car Cleaning Epe">
  <meta name="author" content="SitePoit">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/sass/css/header.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-4"> <h1>Help</h1></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-3"> <h5>home</h5> </div>
            <div class="col-sm-1"> <h5>over ons</h5> </div>
            <div class="col-sm-1"> <h5>diensten</h5> </div>
            <div class="col-sm-1"> <h5>projecten</h5> </div>
            <div class="col-sm-1"> <h5>offerte</h5> </div>
            <div class="col-sm-1"> <h5>art gallery</h5> </div>
            <div class="col-sm-1"> <h5>blog</h5> </div>
            <div class="col-sm-1"> <h5>contact</h5> </div>
            <div class="col-sm-1"> <h5>TODO</h5> </div>
            
        </div>

    </div>

  <script src="js/scripts.js"></script>
</body>
</html>